# API
PORT=8000
NODE_ENV=development
WEB_ORIGIN=http://localhost:3000
JWT_SECRET=replace_with_a_long_random_secret
AUTO_APPROVE_COMMENTS=false
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=islamiexpress

# Web
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Islami Express
NEXT_PUBLIC_ADSENSE_CLIENT=
